.menubtn{
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;

    width: 3rem;
    height: 3rem;
    background: var(--home-bg);
    border: 1px solid light-dark(#1e1e20,#f1f1f2);
    border-radius: 0.5rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

    z-index: 100;
}

.bar{
    position: absolute;
    width: 1.5rem;
    height: 3px;
    border-radius: 1.5px;
    background-color: var(--text-color);
    transition: all 0.3s ease;
}

/* ハンバーガーメニューが閉じているとき */
.bar:nth-of-type(1){
    transform: translateY(-0.5rem);
}

.bar:nth-of-type(2){
    opacity: 1;
}

.bar:nth-of-type(3){
    transform: translateY(0.5rem);
}

/* ハンバーガーメニューが開いているとき */
.active .bar:nth-of-type(1){
    transform: translateY(0) rotate(45deg);
}

.active .bar:nth-of-type(2){
    opacity: 0;
}

.active .bar:nth-of-type(3){
    transform: translateY(0) rotate(-45deg);
}

.nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 99;

    display: flex;
    align-items: center;

    transform: transLateY(100%);
    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1)
}

.open{
    transform: transLateY(0);
}

.navlist{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navlist li{
    height: 100%;
    justify-content: center;
    align-items: center;
}

.navlist li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navlist li a:hover{
    font-size: 2rem;
}

.navlist li:nth-of-type(1){
    background: var(--home-bg);
}

.navlist li:nth-of-type(2){
    background: var(--about-bg);
}

.navlist li:nth-of-type(3){
    background: var(--works-bg);
}

.navlist li:nth-of-type(4){
    background: var(--photos-bg);
}

.dummySlot{
    background: var(--photos-bg);
}

@media (min-width: 768px){
    .menubtn{
        display: none;
    }

    .nav{
        display: none;
    }
}