.container{
    width: 100%;
    min-height: 100svh;
    background: var(--works-bg);
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}

.header{
    width: 100%;
    height: 10rem;
    position: relative;
    padding: 10px;
}

.title{
    font-size:3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.breadcrumbsWrapper{
    position: absolute;
    bottom: 0;
}

@media (min-width: 768px){
    .container{
        padding-top: 4rem;
    }
}