.container{
    width: 100%;
    min-height: 100svh;
    background: var(--photos-bg);
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}

.header{
    width: 100%;
    height: 10rem;
    position: relative;
    padding: 0.5rem;
}

.title{
    font-size:3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

/* Tablet/PC Category */
.categoryArea{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    gap: 24px;
    align-items: flex-start;
}

.categoryHead{
    font-size: 1.5rem;
    line-height: 1;
    white-space: nowrap;
    align-self: center;
}

.categoryList{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.catItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.expandBtn,
.expandBtnMobile{
    appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    color: var(--text-color);
    line-height: 1;
    position: relative;
    width: 1rem;
    height: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.catOpenBtn{
    position: absolute;
    width: 1rem;
    height: 1.5px;
    background: var(--text-color);
    transition: all 0.3s ease;
}

.catOpenBtn:nth-of-type(1){
    width: 0.5rem;
    transform: translate(0,-0.25rem) rotate(90deg);
}

.catOpenBtn:nth-of-type(3){
    width: 0.5rem;
    transform: translate(0, 0.25rem) rotate(-90deg);
}

.expandBtn:hover .catOpenBtn:nth-of-type(1),
.expandBtnMobile:hover .catOpenBtn:nth-of-type(1){
    transform: translate(70%,-0.16rem) rotate(45deg);
}

.expandBtn:hover .catOpenBtn:nth-of-type(3),
.expandBtnMobile:hover .catOpenBtn:nth-of-type(3){
    transform: translate(70%,0.16rem) rotate(-45deg);
}

.catCloseBtn{
    position: absolute;
    width: 1rem;
    height: 1.5px;
    background: var(--text-color);
    transition: all 0.3s ease;
}

.catCloseBtn:nth-of-type(1){
    width: 0.5rem;
    transform: translate(0,-0.25rem) rotate(90deg);
    opacity: 0;
}

.catCloseBtn:nth-of-type(3){
    width: 0.5rem;
    transform: translate(0,0.25rem) rotate(-90deg);
    opacity: 0;
}

.expandBtn:hover .catCloseBtn:nth-of-type(1),
.expandBtnMobile:hover .catCloseBtn:nth-of-type(1){
    transform: translate(-70%,-0.16rem) rotate(135deg);
    opacity: 1;
}

.expandBtn:hover .catCloseBtn:nth-of-type(3),
.expandBtnMobile:hover .catCloseBtn:nth-of-type(3){
    transform: translate(-70%,0.16rem) rotate(-135deg);
    opacity: 1;
}

.catRow{
    appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    font-size: 1.2rem;
    color: var(--text-color);
    white-space: nowrap;
}

.expandIcon{
    display: inline-flex;
    width: 1em;
    text-align: center;
}

.categoryItem{
    display: flex;
    gap: 5px;
    align-items: center;
}

/* subcategoryを右に */
.linkBtn{
    display: inline-flex;
    align-items: center;
    gap: 10px;

    font-size: 1.2rem;
    color: var(--text-color);
    white-space: nowrap;
    text-decoration: none;
}

.isActive{
    text-decoration: underline;
}

/* Mobile Trigger */
.mobileCategoryTrigger{
    position: absolute;
    right: 10px;
    bottom: 0;
    transform: translateY(-50%);

    appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;

    font-family: var(--font-main);
    font-size: 1.3rem;
    color: var(--text-color);

    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.chev{
    display: inline-block;
    transform: translateY(-1px);
}

/* mobile panel */
.mobilePanel{
    position: relative;
    width: 100%;
    z-index: 10;
    background: var(--photos-bg);
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transition: max-height 0.3s ease, opacity 0.2s ease;
}

.mobilePanelOpen{
    max-height: 50vh;
    opacity: 1;
    pointer-events: auto;
    padding-bottom: 3.5rem;
}

.mobilePanelTop{
    position: absolute;
    right: 10px;
    bottom: 10px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mobileClose{
    appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;

    font-family: var(--font-main);
    font-size: 1.3rem;
    color: var(--text-color);

    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.mobileCatList{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.mobileCatRow{
    appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;

    font-size: 1.3rem;
    color: var(--text-color);
    white-space: nowrap;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.linkBtnMobile{
    font-size: 1.3rem;
    color: var(--text-color);
    text-decoration: none;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
}

/* mobile: subcategory */
.mobileSubLayout{
    margin-top: 8px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
    align-items: start;
}

.mobileOpenCat{
    appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;
    
    font-size: 1.3rem;
    color: var(--text-color);
    white-space: nowrap;

    display: inline-flex;
    align-items: center;
    gap: 8px;

    align-self: center;
}

.mobileSubList{
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* grid */
.grid{
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.card{
    appearance: none;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;

    border-radius: 12px;
    overflow: hidden;
    box-shadow: 4px 4px 4px 0 light-dark(rgba(30, 30, 32, 0.25), rgba(241, 241, 242, 0.25))
}

.thumb{
    width: 100%;
    aspect-ratio: 1/1;
    display: block;
    object-fit: cover;
    background: #bdbdbd;
}

.noData{
    grid-column: 1/-1;
    text-align: center;
}

/* modal */
.modalOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 30, 32, 0.9);
    backdrop-filter: blur(5px);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn{
    to {opacity: 1;}
}

.modal{
    position: relative;
    max-width: 90vw;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: none;
    background-color: var(--photos-bg);
    border-radius: 10px;
}

.modalImg{
    max-width: 100%;
    max-height: 75vh;
    width: auto;
    height: auto;
    object-fit: contain;
    user-select: none;
    border-radius: 10px 10px 0 0;
}

.modalMeta{
    width: 100%;
    color: var(--text-color);
    position: relative;
}

.modalText{
    margin: 0;
    font-size: 1rem;
    color: var(--text-color);
}

.modalCategory{
    margin: 0;
    font-size: 1rem;
    color: var(--text-color);
    opacity: 0.8;
}

.modalClose{
    position: absolute;
    right: 0;
    bottom: 0;
    background: none;
    border: none;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeBtn{
    display: block;
    position: relative;
    width: 1rem;
    height: 1rem;
}

.closeBtn::before,
.closeBtn::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background: var(--text-color);
    transform: translate(-50%, -50%);
}

.closeBtn::before{
    transform: translate(-50%, -50%) rotate(45deg);
}

.closeBtn::after{
    transform: translate(-50%, -50%) rotate(-45deg);
}

.backRow{
    appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    font-size: 1.2rem;
    color: var(--text-color);
    white-space: nowrap;
}

@media (min-width:768px){
    .container{
        padding-top: 4rem;
    }

    .categoryArea{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 24px;

        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        align-items: center;
    }

    .leftLabel{
        font-size: 1.5rem;
        line-height: 1;
        white-space: nowrap;
    }

    .leftActiveCat{
        appearance: none;
        border: none;
        background: transparent;
        cursor: pointer;
        padding: 0;

        display: inline-flex;
        align-items: center;
        gap: 10px;

        font-size: 1.5rem;
        line-height: 1;
        white-space: nowrap;
        color: var(--text-color);
    }

    .rightList{
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobileCategoryTrigger{
        display: none;
    }

    .mobilePanel{
        display: none;
    }

    .grid{
        grid-template-columns: repeat(4, 1fr);
    }

    .modalText{
        font-size: 1.5rem;
    }

    .modalCategory{
        font-size: 1.5rem;
    }
}

@media (min-width:1024px){
    .grid{
        grid-template-columns: repeat(7, 1fr);
    }

    .modal{
        flex-direction: row;
        align-items: stretch;
        max-height: 80vh;
        max-width: 80vw;
        border-radius: 10px;
    }

    .modalImg{
        max-height: 80vh;
        max-width: 60vw;
        border-radius: 10px 0 0 10px;
    }

    .modalMeta{
        min-width: 25vw;
    }
}