.container{
    width: 100%;
    min-height: 100svh;
    background: var(--works-bg);
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}

.header{
    width: 100%;
    height: 10rem;
    position: relative;
    padding: 10px;
}

.title{
    font-size:3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.categoryMenu{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    bottom: 0;
}

.catLabel{
    display: none;
}

.catList{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    isolation: isolate;
    background: var(--works-bg);
}

.catBtn{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0 5px;
    cursor: pointer;
    color: var(--home-bg);
    mix-blend-mode: difference;
    z-index: 1;
}

.highlighter{
    position: absolute;
    background: var(--text-color);
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    pointer-events: none;
    z-index: 0;
}

.grid{
    display: grid;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5rem;
    padding-top: 1rem;
}

.noData{
    grid-column: 1 / -1;
    text-align: center;
}

@media (min-width:768px){
    .container{
        padding-top: 4rem;
    }

    .categoryMenu{
        position: absolute;
        right: 0;
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 24px;
        padding-right: 5vw;
    }

    .catLabel{
        display: block;
        margin: 0;
        font-size: 1.5rem;
        line-height: 1;
        white-space: nowrap;
        align-self: center;
    }

    .catList{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: transparent;
        isolation: auto;
        justify-content: flex-start;
    }

    .catBtn{
        font-size: 1.2rem;
        white-space: nowrap;
        mix-blend-mode: normal;
        color: var(--text-color)
    }

    .highlighter{
        display: none;
    }
}

@media (min-width: 1024px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}