.header{
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #375e97;
    opacity: 1;
    overflow: hidden;
    transition: all 0.3s ease;
    font-size: 2rem;
    margin: 0.5rem;
}

.hidden{
    opacity: 0;
}

.nav{
    display: none;
}

.btn{
    cursor: pointer;
    background: none;
    border: none;
    font-size: 2rem;
    margin: 0.5rem;
}

@media (min-width: 768px){
    .nav{
        display: flex;
        height: 3rem;
        align-items: center;
        background-color: light-dark(rgba(30, 30, 32, 0.5), rgb(241, 241, 242, 0.5));
        border-radius: 0.5rem;
    }

    .navItem{
        font-size: 1.7rem;
        margin: 0 1vw;
    }

    .active{
        border-bottom: 2px solid currentColor;
    }

    .tohome{
        color: light-dark(#f1f1f2, #1e1e20);
    }

    .toabout{
        color: light-dark(#e1e1e2, #2e2e30);
    }

    .toworks{
        color: light-dark(#d1d1d2, #3e3e40);
    }

    .tophotos{
        color: light-dark(#c1c1c2, #4e4e50);
    }
}