.profileContent{
    display: grid;
    grid-template-columns: 1fr;
}

.imgWrapper{
    justify-self: center;
    width: 60%;
    aspect-ratio: 1/1;
    max-width: 250px;
    max-height: 250px;
}

.profileImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 1.5px solid var(--text-color);
    border-radius: 50%;
}

.profileTextWrapper{
    word-break: keep-all;
    overflow-wrap: break-word;
}

.profileTextWrapper h3{
    margin: 0;
    font-size: 1.5rem;
}

.profileTextWrapper p{
    margin: 0;
}

@media (min-width: 768px) {
    .profileContent{
        grid-template-columns: auto 1fr;
        justify-items: start;
        text-align: left;
        gap: 1vw;
    }

    .imgWrapper{
        width: 250px;
        height: 250px;
    }
}

@media (min-width: 1024px){
    /* Homeの時は縦並びにする */
    .profileContent.homeVariant{
        grid-template-columns: 1fr;
    }
}