.cardLink{
    display: block;
    height: 100%;
}

.card{
    background: var(--works-bg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0 var(--border-color);
}

.imgWrapper{
    width: 100%;
    aspect-ratio: 1/1;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.content{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.title{
    margin: 0;
    font-size: 1.5rem;
}

.desc{
    font-size: 1rem;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.footer{
    margin-top: auto;
}

.tag{
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    color: var(--text-color);
    opacity: 0.5;
}

@media (min-width:768px){
    .card{
        flex-direction: row;
    }

    .imgWrapper{
        width: 150px;
        flex-shrink: 0;
    }
}