*,
*::before,
*::after{
  box-sizing: border-box;
}

:root{
  color-scheme: light dark;

  /* フォントの定義 */
  --font-main: "Zen Kurenaido", sans-serif;

  /* 色の定義 */
  --bg-color: light-dark(#f1f1f2, #1e1e20);
  --text-color: light-dark(#1e1e20, #f1f1f2);
}

body{
  margin :0;
  padding: 0;
  font-family: var(--font-main);
  background-color: var(--bg-color);
  color: var(--text-color);
  -webkit-font-smmothing :antialiased;
  -moz-osx-font-smoothing :grayscale;
}

a{
  text-decoration: none;
  color: inherit;
}

:root[data-theme="dark"]{
  color-scheme: dark;
}